*.pem
/.idea
legal_acts/**
summit-demo/
/legal_acts
/aws-mwaa-local-runner
.env
/api-sejm-facade
/preprocessing/lines
/preprocessing/pdfs
/preprocessing/__pycache__/
/preprocessing/utils/__pycache__/
/preprocessing/pdf_utils/__pycache__/
preprocessing/pdf_elements/__pycache__/
preprocessing/pdf_boundaries/__pycache__/
preprocessing/mongo_db/__pycache__/
preprocessing/stages/__pycache__/
preprocessing/stages/__pycache__/download_raw_rows_for_each_year.cpython-38.pyc
preprocessing/utils/__pycache__/stage_def.cpython-38.pyc

/dask/.idea
*.pyc
/preprocessing/lines_2