requests>=2.28.1
pandas==1.5.3
numpy==1.24.1
pyarrow
scipy
statsmodels
boto3
redis
dask-cloudprovider[aws]==2022.10.0
s3fs==2022.10.0
prefect==2.20.8
prefect[dask]==2.20.8
tqdm
pymongo==4.8.0
PyPDF2
pdfplumber
pycryptodome
openai==1.52.0
langchain==0.2.9
langchain-openai==0.1.25
backoff